spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pricing_system
    username: pricing_user
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080